body
{
    overflow-x: hidden;
}    
sidenav{
    position: fixed;
}
.column{
    position: relative;
    top: 170px;
    left: 85px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#tokyoo{
    font-size: 200%;
}

.home{
    border: 1px solid white;
    background-color: white;
    font-size: 100%;
    color:grey;
    text-decoration: none;
}
.home:hover{
    color: black;
}

.about{
    border: 1px solid white;
    background-color: white;
    font-size: 100%;
    text-decoration:none;
    color:grey;
}
.about:hover{
    color: black;
}
.portfolio{
    border: 1px solid white;
    background-color: white;
    color: grey;
    font-size: 100%;
    text-decoration:none;
    color:grey;
}
.portfolio:hover{
    color: black;
}   
.news{
    border: 1px solid white;
    background-color: white;
    color: grey;
    font-size: 100%;
    text-decoration:none;
}
.news:hover{
    color: black;
} 
.contact{
    border: 1px solid white;
    background-color: white;
    color: grey;
    font-size: 100%;
    text-decoration:none;
    color:grey;
}
.contact:hover{
    color: black;
}
#tokyo{
    color: rgb(174, 176, 179);
    font-style: italic;
    font-size: 90%;
}
.vertical{
    border: 1px solid rgb(228, 225, 225);
    background-color: #F8F8F8;
    height:770px;
    width: 1250px;
    position: absolute;
    left: 395px;
    margin-left: -3px;
    top: 0;
    margin-top: -50px;
    margin-right: -100px;
}

/*about page*/


.vertical1{
    border: 1px solid rgb(228, 225, 225);
    background-color: #F8F8F8;
    height:1000px;
    width: 1250px;
    position: absolute;
    left: 395px;
    margin-left: -3px;
    top: 0;
    margin-top: -50px;
    margin-right: -100px;
}

.faceimg{
    height: 300px;
    position: relative;
    left: 140px;
    top: 190px;
    border-radius: 70%;
}
.textnlogo{
    position: absolute;
    top: 180px;
    left: 530px;
    
}

#as{
        font-weight: 800;
        font-size: 350%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#ans{
    font-style: italic;
    color: gray;
    font-size: 120%;
}
.logo{
    position: relative;
    left: 100px;

}
.facebook{
    width: 25px;
}
.twitter{
    width: 25px;

}
.instagram{
    width: 25px;
}
.basketball{
    width: 25px;
}
.tiktok{
    width: 25px;
}

.myface{
    height: 440px;
    width: 880px;
    position: relative;
    left: 120px;
    top: 130px;
}
.text1{
    position: relative;
    top: 140px;
    left:120px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#asmith{
    font-size: 150%;
    font-weight: bold;
}
#aboutme{
     color: grey;
     font-style: oblique;
}
.box {
    position: absolute;
    top: 760px;
    left: 510px;
}
  
.button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid black;
    text-decoration: none;
    cursor: pointer;
    background-color: black;
    transition: all 0.5s;
  }
.button:hover {
    padding-left: 20px;
  }
  
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
.overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 60%;
    height: 75%;
    overflow:scroll;
    overflow-x: hidden;
  }
  
.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
.popup .close {
    position: relative;
    top: -350px;
    left: 880px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }
.popup .close:hover {
    color: rgb(114, 110, 110);
  }
.popup .content {
    max-height: 30%;
    overflow:auto;
  }
  
@media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }

.bio{
     position: absolute;
     left: 620px;
     top: 650px;
     font-style: italic;
 }
.psks{
     position: relative;
     top: 65px;
     left: 45px;
 }

.container1 {
    position: relative;
    top: 10px;
    width: 350px;
}
.progress1 {
    height: 2px;
    background-color:rgb(212, 208, 204);
}
.progress1 .bar1 {
    width: 50%;
    height: 2px;
    background-color: black;
}

.container2 {
    position: relative;
    top: 10px;
    width: 350px;
}
.progress2 {
    height: 3px;
    background-color:rgb(212, 208, 204);
}
.progress2 .bar2 {
    width: 50%;
    height: 3px;
    background-color: black;
}

.container3 {
    position: relative;
    top: 10px;
    width: 350px;
}
.progress3 {
    height: 3px;
    background-color:rgb(212, 208, 204);
}
.progress3 .bar3 {
    width: 50%;
    height: 3px;
    background-color: black;
}

.container4 {
    position: relative;
    top: 10px;
    width: 350px;
}
.progress4 {
    height: 3px;
    background-color:rgb(212, 208, 204);
}
.progress4 .bar4 {
    width: 50%;
    height: 3px;
    background-color: black;
}

.container4 {
    position: relative;
    top: 10px;
    width: 350px;
}
.progress4 {
    height: 3px;
    background-color:rgb(212, 208, 204);
}
.progress4 .bar4 {
    width: 50%;
    height: 3px;
    background-color: black;
}

.container5 {
    position: relative;
    top: 10px;
    width: 350px;
}
.progress5 {
    height: 3px;
    background-color:rgb(212, 208, 204);
}
.progress5 .bar5 {
    width: 50%;
    height: 3px;
    background-color: black;
}

.container6 {
    position: relative;
    top: 10px;
    width: 350px;
}
.progress6 {
    height: 3px;
    background-color:rgb(212, 208, 204);
}
.progress6 .bar6 {
    width: 50%;
    height: 3px;
    background-color: black;
}

.lang{
    position:relative;
    left: 500px;
    top: -100px;
}
.container4 {
    position: relative;
    top: 10px;
    width: 350px;
}
.progress4 {
    height: 3px;
    background-color:rgb(212, 208, 204);
}
.progress4 .bar4 {
    width: 50%;
    height: 3px;
    background-color: black;
}

.container5 {
    position: relative;
    top: 10px;
    width: 350px;
}
.progress5 {
    height: 3px;
    background-color:rgb(212, 208, 204);
}
.progress5 .bar5 {
    width: 50%;
    height: 3px;
    background-color: black;
}

.container6 {
    position: relative;
    top: 10px;
    width: 350px;
}
.progress6 {
    height: 3px;
    background-color:rgb(212, 208, 204);
}
.progress6 .bar6 {
    width: 50%;
    height: 3px;
    background-color: black;
}



.funfacts{
    position: relative;
    left: 45px;
}

.projcomp{
    border: 1px solid rgb(233, 227, 227);
    width: 220px;
    height: 120px;
    text-align: center;
}
.happyclients{
    position: relative;
    top: -120px;
    left: 270px;
    border: 1px solid rgb(233, 227, 227);
    width: 220px;
    height: 120px;
    text-align: center;
}
.loc{
    position: relative;
    top: -240px;
    left: 540px;
    border: 1px solid rgb(233, 227, 227);
    width: 220px;
    height: 120px;
    text-align: center;
}

.ourpartners{
    position:relative;
    top: -150px;
    left: 45px;
}


/* Portfolio of Adrian*/


.vertical2{
    border: 1px solid rgb(228, 225, 225);
    background-color: #F8F8F8;
    height:1300px;
    width: 1250px;
    position: absolute;
    left: 395px;
    margin-left: -3px;
    top: 0;
    margin-top: -50px;
    margin-right: -100px;

}
.pfcontent{
    position: absolute;
    top: 150px;
    left: 120px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pfolio{
    border: 1px solid rgb(231, 231, 231);
    background-color: rgb(231, 231, 231);
    width: 90px;
    height: 34px;
    font-size: 75%;
    font-weight: bold;
}

.navbar{
    position: relative;
    top: -42px;
    left: 450px;
}

.all{
    text-decoration: none;
    color: rgb(167, 166, 166);
    transition: transform .2s;
    padding: 30px;
}
.all:hover{
    color: black;
    transform: scale(1.5);
}
.vimeo{
    text-decoration: none;
    color: rgb(167, 166, 166);
    padding: 30px;
}
.vimeo:hover{
    color: black;
    transform: scale(1.5);
}
.youtube{
    text-decoration: none;
    color: rgb(167, 166, 166);
    padding: 30px;
}
.youtube:hover{
    color: black;
    transform: scale(1.5);
}
.soundcloud{
    text-decoration: none;
    color: rgb(167, 166, 166);
    padding: 30px;
}
.soundcloud:hover{
    color: black;
    transform: scale(1.5);
}
.image{
    text-decoration: none;
    color: rgb(167, 166, 166);
}
.image:hover{
    color: black;
    transform: scale(1.5);
}
.modimg1{
    position: absolute;
    top: 150px;
    display: block;
    overflow: hidden;
    width: 420px;
}

.modimg1 img{
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: 410px;
    transform: scale(1);
}
.modimg1:hover img{
    transform: scale(1.1);
}

.imgtxt1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0);
    display: flex;
    font-style: italic;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
}
.imgtxt1:hover{
    opacity: 1;
}
.nowtxt1{
    border: solid white;
    background-color: white;
    width: 90px;
    height: 50px;
}
.txtmodel1{
    font-size: 1.25em;
}
.txtvimeo{
    position: relative;
    top: -30px;
    font-size: 1.5em;
}
.modimg2{
    position: absolute;
    top: 150px;
    left: 500px;
    display: block;
    overflow: hidden;
    width: 420px;
}

.modimg2 img{
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: 410px;
    transform: scale(1);
}

.modimg2:hover img{
    transform: scale(1.1);
}
.imgtxt2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0);
    display: flex;
    font-style: italic;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
}
.imgtxt2:hover{
    opacity: 1;
}
.nowtxt2{
    border: solid white;
    background-color: white;
    width: 90px;
    height: 50px;
}
.txtmodel2{
    font-size: 1.25em;
}
.txtyoutube{
    position: relative;
    top: -30px;
    font-size: 1.5em;
}
.modimg3{
    position:absolute;
    top: 620px;
    display: block;
    overflow: hidden;
    width: 420px;
}

.modimg3 img{
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: 410px;
    transform: scale(1);
}

.modimg3:hover img{
    transform: scale(1.1);
}

.imgtxt3{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0);
    display: flex;
    font-style: italic;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
}
.imgtxt3:hover{
    opacity: 1;
}
.nowtxt3{
    border: solid white;
    background-color: white;
    width: 120px;
    height: 50px;
}
.txtmodel3{
    font-size: 1.25em;
}
.txtsoundcloud{
    position: relative;
    top: -30px;
    font-size: 1.5em;
}

.modimg4{
    position:absolute;
    top: 620px;
    left: 500px;
    display: block;
    overflow: hidden;
    width: 420px;
}

.modimg4 img{
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: 410px;
    transform: scale(1);
}

.modimg4:hover img{
    transform: scale(1.1);
}

.imgtxt4{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0);
    display: flex;
    font-style: italic;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
}
.imgtxt4:hover{
    opacity: 1;
}
.nowtxt4{
    border: solid white;
    background-color: white;
    width: 90px;
    height: 50px;
}
.txtmodel4{
    font-size: 1.25em;
}
.txtimg4{
    position: relative;
    top: -30px;
    font-size: 1.5em;
}

/*For News page*/

.vertical3{
    border: 1px solid rgb(228, 225, 225);
    background-color: #F8F8F8;
    height:1400px;
    width: 1250px;
    position: absolute;
    left: 395px;
    margin-left: -3px;
    top: 0;
    margin-top: -50px;
    margin-right: -100px;

}

.newscontent{
    position: absolute;
    top: 150px;
    left: 120px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.newsbutton{
    border: 1px solid rgb(231, 231, 231);
    background-color: rgb(231, 231, 231);
    width: 90px;
    height: 34px;
    font-size: 75%;
    font-weight: bold;
}

.outerbox1{
    display: block;
    flex-direction: row;
    width: 340px;
    height: 400px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 50px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-left: 25px;
    float: left;
}


.card1{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 420px;
    position:absolute;
    top: 150px;
}
.card1:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.newsimg{

    overflow: hidden;
    width: 420px;
    
}   
.newsimg img{
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: 300px;
    transform: scale(1);
}

.newsimg:hover img{
    transform: scale(1.1);
}

.cardtext1{
    padding: 8px 16px;
}

.uppertext{
    color:	rgb(179, 176, 176);
	font-size: 13px;
	margin-top: 20px;
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 20px;
    border-bottom: 2px solid rgb(179, 176, 176);
}
.newstext{
        font-weight: bold;
        font-size: 20px;
        padding-left: 20px;
}
.readmore{
        font-size: 80%;
        font-weight: bold;
        padding-left: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        transition: all 2s;
        overflow: hidden;
        color: rgb(179, 176, 176);
}
.readmore:hover{
    color: black;

}

#symbol{
    text-decoration: none;
    color: #a9a9a9;
    font-style: normal;
    font-weight: bolder;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#symbol:hover{
    color: black;
}

.card2{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 420px;
    position:absolute;
    top: 150px;
    left: 500px;
}
.card2:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card3{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 420px;
    position:absolute;
    top: 700px;
}
.card3:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card4{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 420px;
    position:absolute;
    top: 700px;
    left: 500px;
}
.card4:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


/*contact html page*/

.vertical4{
    border: 1px solid rgb(228, 225, 225);
    background-color: #F8F8F8;
    height:1200px;
    width: 1250px;
    position: absolute;
    left: 395px;
    margin-left: -3px;
    top: 0;
    margin-top: -50px;
    margin-right: -100px;
}

.contactcontent{
    position: absolute;
    top: 150px;
    left: 120px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.contactbutton{
    border: 1px solid rgb(231, 231, 231);
    background-color: rgb(231, 231, 231);
    width: 90px;
    height: 34px;
    font-size: 73%;
    font-weight: bold;
}

.gmap{
    position: absolute;
    top: 160px;
    -webkit-filter: grayscale(150%);
}

.contactform{
    position: absolute;
    top: 610px;
}
#contactname{
    width: 900px;
    height: 40px;
    font-size: 90%;
    font-style: italic;
    border: 1px solid rgb(207, 205, 205);
    background: #F8F8F8;
    outline: none;
    padding: 0px 10px;
}
#contactname:focus{
    border: 1px solid black;
}
#contactemail{
    position: relative;
    top: 30px;
    width: 900px;
    height: 40px;
    font-size: 90%;
    font-style: italic;
    border: 1px solid rgb(207, 205, 205);
    background: #F8F8F8;
    outline: none;
    padding: 0px 10px;
}
#contactemail:focus{
    border: 1px solid black;
}
#contactmsg{
    position: relative;
    top: 60px;
    width: 900px;
    font-size: 90%;
    font-style: italic;
    border: 1px solid rgb(207, 205, 205);
    background: #F8F8F8;
    outline: none;
    padding: 10px 10px;
    padding-bottom: 100px;
}
#contactmsg:focus{
    border: 1px solid black;
}
.sendmsg{
    border: solid black;
    background: black;
    position: absolute;
    top: 920px;
    height: 50px;
    width: 150px;
    font-style: italic;
    font-weight: bold;
    font-size: 90%;
    transition: all 1s;
}

.sendmsg:hover{
    width: 180px ;
}

.sendmsg1{
    text-decoration: none;
    color: white;
}




